# Ignore executable
traceFileSim

# Ignore TraceFiles Unless Explicitly Included
**.trace
**.cls
**.td

# Ignore Build Artifacts
**.o
Debug/*
*.o
arrayletTest/**

# Ignore Log Files
**.log
**.log.sh
**.cachelog

# Ignore IDE Artifacts
.idea/
cmake-build-debug/
.cproject
.project

# Ignore Coverity Artifacts
cov-int/
TraceFileSim.tgz
